
 <h1>{{' using bs toggle bar' | titlecase}}</h1>
<section id="features" class="features section" style="cursor: pointer;" >
    <div class="container">
      <ul
        class="nav nav-tabs row d-flex"
        
      >
        <li class="nav-item col-3">
          <a
            class="nav-link active show justify-content-center gap-3"
            data-bs-toggle="tab"
            data-bs-target="#features-tab-1"
          >
          
            <h4 class="d-none d-lg-block" >The MEAN Stack</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a
            class="nav-link justify-content-center gap-3"
            data-bs-toggle="tab"
            data-bs-target="#features-tab-2"
          >
           
            <h4 class="d-none d-lg-block">The MERN Stack</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a
            class="nav-link justify-content-center gap-3"
            data-bs-toggle="tab"
            data-bs-target="#features-tab-3"
          >
            
            <h4 class="d-none d-lg-block">The Angular</h4>
          </a>
        </li>
        <li class="nav-item col-3">
          <a
            class="nav-link justify-content-center gap-3"
            data-bs-toggle="tab"
            data-bs-target="#features-tab-4"
          >
            
            <h4 class="d-none d-lg-block">The React JS</h4>
          </a>
        </li>
      </ul>
      <!-- End Tab Nav -->

      <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
        <div class="tab-pane fade active show" id="features-tab-1">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>
                Build Full-Stack Web Applications with Ease – The MEAN Stack
              </h3>
              <p class="fst-italic">
                Highlights the seamless integration between the MongoDB
                database, Express.js backend, Angular frontend, and Node.js
                server.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Unified JavaScript Development: Both frontend and backend
                    use JavaScript</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Scalability: MEAN is designed for applications that need to
                    scale efficiently, handling increased traffic and growing
                    data needs.</span
                  >.
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Open-Source: All components of the MEAN stack are
                    open-source, which means developers have free access to the
                    code and a large community for support..</span
                  >
                </li>
              </ul>
              <p>
                The MEAN stack offers a complete and efficient solution for
                building modern web applications. With its full-stack JavaScript
                ecosystem, MEAN empowers developers to work seamlessly across
                both the frontend and backend, ensuring faster development and
                better integration. Here are three key reasons why the MEAN
                stack is highly recommended for web development:
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center ">
            </div>
          </div>
        </div>
        <!-- End Tab Content Item -->

        <div class="tab-pane fade" id="features-tab-2">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>Unlock Full-Stack JavaScript Development with MERN</h3>
              <p>
                The MERN stack is a powerful and popular full-stack development
                framework that combines MongoDB, Express.js, React, and Node.js
                to create fast, scalable, and highly dynamic web applications
              </p>
              <p class="fst-italic">
                By using JavaScript throughout the entire development process—on
                both the client and server sides—MERN enables a seamless
                development experience.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>End-to-End JavaScript Development.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >With MongoDB, MERN applications are highly scalable.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>Real-Time Data Handling.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>Strong Community and Ecosystem.</span>
                </li>
              </ul>
              <p>
                All the technologies in the MERN stack—MongoDB, Express, React,
                and Node—are open-source and widely used, meaning there is a
                large community of developers, resources, tutorials, and plugins
                available to support your projects.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
            </div>
          </div>
        </div>
        <!-- End Tab Content Item -->

        <div class="tab-pane fade" id="features-tab-3">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>
                Empowering Developers with a Full-Featured Frontend Framework
              </h3>
              <p>
                Angular is a powerful and widely-used framework for building
                dynamic, single-page web applications. Developed and maintained
                by Google, Angular provides a comprehensive solution that helps
                developers create complex applications with high maintainability
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>Two-Way Data Binding.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Angular promotes a modular approach to development.</span
                  >
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >Angular comes with a powerful set of tools and libraries
                    out-of-the-box, including a CLI (Command Line Interface) for
                    fast project setup, testing, and deployment.</span
                  >
                </li>
              </ul>
              <p class="fst-italic">
                Angular is backed by Google and has a large and active community
                of developers. With extensive documentation, tutorials, and
                community support, it's easier for developers to troubleshoot
                issues and stay up to date with the latest features.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
            </div>
          </div>
        </div>
        <!-- End Tab Content Item -->

        <div class="tab-pane fade" id="features-tab-4">
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
              <h3>Creating Fast and Interactive UIs with React</h3>
              <p>
                React is a widely-used JavaScript library for building
                interactive, dynamic user interfaces, particularly for
                single-page applications. Developed and maintained by Facebook,
                React enables developers to build fast and scalable applications
                with a component-based architecture.
              </p>
              <p class="fst-italic">
                Its core feature, the virtual DOM, allows for efficient updates,
                ensuring that only the necessary changes are reflected in the
                UI, making it incredibly fast.
              </p>
              <ul>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>Virtual DOM for Faster Rendering: .</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span>Strong Ecosystem and Community Support.</span>
                </li>
                <li>
                  <i class="bi bi-check2-all"></i>
                  <span
                    >React uses a component-based architecture, which allows
                    developers to break down complex UIs into small, reusable
                    components.</span
                  >
                </li>
              </ul>
              <p>
                The unordered list explains the core benefits of using React,
                such as component-based architecture, virtual DOM,
                unidirectional data flow, and strong community support.
              </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 text-center">
            </div>
          </div>
        </div>
        <!-- End Tab Content Item -->
      </div>
    </div>
  </section>

  <h1> {{'same as togle But using routing And' | titlecase}} ngClass</h1>

  <section id="tota" style="margin-top: 50px;">
    <div class="d-flex justify-content-between flex-row">
      <div class="d-flex"></div>
      <a class="btn btn-outline-primary col-3 hk" [routerLink]="['/query','table' ,'tab1']" fragment="tota" [ngClass]="{active: activeTab === 'tab1'}">tab1</a>
      <a class="btn btn-outline-primary col-3 hk" [routerLink]="['/query','table' ,'tab2']" fragment="tota" [ngClass]="{active: activeTab === 'tab2'}">tab2</a>
      <a class="btn btn-outline-primary col-3 hk" [routerLink]="['/query','table' ,'tab3']" fragment="tota" [ngClass]="{active: activeTab === 'tab3'}">tab3</a>
      <a class="btn btn-outline-primary col-3 hk" [routerLink]="['/query','table' ,'tab4']"fragment="tota" [ngClass]="{active: activeTab === 'tab4'}">tab4</a>
    </div>
    
  
    <!-- Tab Content Cards -->
    <div class="card" *ngIf="activeTab === 'tab1'">
      <div class="card-header">Featured</div>
      <div class="card-body show active">
        <h5 class="card-title">Tab 1 Title</h5>
        <p class="card-text">Some content for tab 1.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  
    <div class="card" *ngIf="activeTab === 'tab2'">
      <div class="card-header">Tab 2</div>
      <div class="card-body show active">
        <h5 class="card-title">Tab 2 Title</h5>
        <p class="card-text">Some content for tab 2.</p>
        <a href="#" class="btn btn-warning">Go somewhere</a>
      </div>
    </div>
  
    <div class="card" *ngIf="activeTab === 'tab3'">
      <div class="card-header">Tab 4</div>
      <div class="card-body show active">
        <h5 class="card-title">Tab 4 Title</h5>
        <p class="card-text">Some content for tab 4.</p>
        <a href="#" class="btn btn-success">Go somewhere</a>
      </div>
    </div>
  
    <div class="card" *ngIf="activeTab === 'tab4'">
      <div class="card-header">Tab 5</div>
      <div class="card-body show active">
        <h5 class="card-title">Tab 5 Title</h5>
        <p class="card-text">Some content for tab 5.</p>
        <a href="#" class="btn btn-danger">Go somewhere</a>
      </div>
    </div>
  </section>

  <h1 style="margin-top: 50px;">{{'Same as them but using query param' |titlecase}}</h1>
  
 