 <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
    <h2></h2>
    
            <h1>Data Binding</h1>
            <h3>form data through &#64;Input</h3>
             <div  > 
               <h4>Data from Parent Component:{{RenderData | json}}</h4>

             </div>
            
            <p>Data binding is a mechanism to coordinate the communication between a component and its view.</p>
            <p>There are four types of data binding in Angular:</p>
            <ul>
                <li>Interpolation</li>
                <li>Property Binding</li>
                <li>Event Binding</li>
                <li>Two-way Binding</li>
            </ul>
            <h2>Interpolation</h2>
            <p>Interpolation is a one-way data binding technique that allows you to bind data from the component class to the template.</p>
            <p>It is done using double curly braces.</p>
            <p>Example:</p>   
            <pre><code> 
                <p>{{codeSnippet}}</p>
            </code></pre>  

 </div>