<div #invoice>
    <section>
        <h2 class="center">Tax Invoice</h2>

        <div class="header d-flex justify-content-between">
            <table style="font-size: 12px;">
                <tr>
                    <td><strong>IRN</strong></td>
                    <td>: ad5889b718525bf03d268febf72f8e3aef454830cc73-947a299ec3f00456bdf2</td>
                </tr>
                <tr>
                    <td><strong>ACK no</strong></td>
                    <td>: 1125247648641</td>
                </tr>
                <tr>
                    <td><strong>Date</strong></td>
                    <td>: 29-Apr-25</td>
                </tr>
            </table>

            <div>
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data=https://vikir.in" alt="QR Code for vikir.in" style="height: 100px;width: 100px;" />
            </div>
        </div>
    </section>

    <section >

        <div class="d-flex col-12 fontSize" >
            <div class="col-7 mb-0">

                <table class="" style="display: flex;flex-direction: column;border-bottom: 1px solid #312c2c;">
                    <tr>
                        <td>
                            <strong>HINDUSTAN HARDWARE AND PLYWOODS</strong>
                            <br>
                            <small>30, 1st Avenue, 5th cross Teachers Colony,
                                Venkattpura, New Sapna Store, Koramangala,</small><br>
                            GSTIN/UIN: 29AQNPR3359N1ZT<br>
                            State Name: Karnataka, Code: 29 <br>
                            E-Mail: hindustanpghgmail.com

                        </td>
                        <hr style="margin: 0;">
                    </tr>
                    <tr>
                        <td>
                            <small>cosingch</small><br>
                            <strong>AIRSME TECHNOLOGY PRIVATE LIMITED</strong><br>
                            <small>30, 1st Avenue, 5th cross Teachers Colony,
                                Venkattpura, New Sapna Store, Koramangala,</small>
                            Bengaluru, Karnataka, 560034 <br>
                            GSTIN/UIN: 29AVACVA4869M1ZJ <br>
                            State: Karnataka, Code: 29 <br>
                        </td>
<hr style="margin: 0;">
                    </tr>

                    <tr>
                        <td>
                            <small>cosingch</small><br>
                            <strong>AIRSME TECHNOLOGY PRIVATE LIMITED</strong><br>
                            <small>30, 1st Avenue, 5th cross Teachers Colony,
                                Venkattpura, New Sapna Store, Koramangala,</small>
                            Bengaluru, Karnataka, 560034 <br>
                            GSTIN/UIN: 29AVACVA4869M1ZJ <br>
                            State: Karnataka, Code: 29 <br>
                        </td>
                        
                    </tr>
                </table>
            </div>
            <div class='col-5 borders ' style="border-top: none;">
                <table class="bordere">
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice <br>
                            <strong>harish</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice <br>
                            <strong>harish</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice <br>
                            <strong>harish</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice <br>
                            <strong>harish</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice <br>
                            <strong>harish</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>invoice no <br>
                            <strong>Harish</strong>
                        </td>
                        <td style="border-left: 1px solid #312c2c;"> invoice no <br>
                            <strong>harish</strong>
                        </td>
                    </tr>


                </table>
               <table>
                <tr><td>Tearms of service</td></tr>
               </table>

            </div>
        </div>

        <table class="raju" style="table-layout: auto;" >
            <thead style="border-bottom: 1px solid #312c2c;" >
                <tr>
                    <th>Sl<br> No</th>
                    <th>Description of Goods</th>
                    <th>HSN/SAC</th>
                    <th>Quantity</th>
                    <th>Rate</th>
                    <th>per</th>
                    <th>Disc. %</th>
                    <th class="bor">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>FEVICOL HEATX 1 LTR</td>
                    <td>35061000</td>
                    <td>1 LTR</td>
                    <td>474.58</td>
                    <td>LTR</td>
                    <td>-</td>
                    <td class="bor">474.58</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>NELTOUCH LAMINATE 0.92 MM 9157 TC 12</td>
                    <td>48239019</td>
                    <td>1 sheet</td>
                    <td>1,144.07</td>
                    <td>sheet</td>
                    <td>-</td>
                    <td class="bor">1,144.07</td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td  class="right">Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    <td class="bor">1,618.65</td>
                </tr>
                <tr>
                    <td></td>
                    <td  class="right">Output SGST 9%</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bor">145.68</td>
                </tr>
                <tr>
                    <td></td>
                    <td class="right">Output CGST 9%</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bor">145.68</td>
                </tr>
                <tr>
                    <td></td>
                    <td  class="right">Round Off</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bor">-0.01</td>
                </tr>
                <tr class="bold borders" style="border-bottom: none;">
                    <td></td>
                    <td  class="right">Total</td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="bor">₹ 1,910.00</td>
                </tr>
            </tbody>
        </table>
        <table class="borders" style="border-bottom: none;">
            <tr><td> <strong>Amount Chargeable (in words):</strong></td>
                <td> <strong>INR One Thousand Nine Hundred Ten Only</strong></td>
            </tr>
        </table>


        <table class="bordered">
            <thead>
                <tr>
                    <th>HSN/SAC</th>
                    <th>Taxable Value</th>
                    <th>CGST Rate</th>
                    <th>CGST Amount</th>
                    <th>SGST Rate</th>
                    <th>SGST Amount</th>
                    <th>Total Tax Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>35061000</td>
                    <td>474.58</td>
                    <td>9%</td>
                    <td>42.71</td>
                    <td>9%</td>
                    <td>42.71</td>
                    <td>85.42</td>
                </tr>
                <tr>
                    <td>48239019</td>
                    <td>1,144.07</td>
                    <td>9%</td>
                    <td>102.97</td>
                    <td>9%</td>
                    <td>102.97</td>
                    <td>205.94</td>
                </tr>
                <tr class="bold">
                    <td>Total</td>
                    <td>1,618.65</td>
                    <td></td>
                    <td>145.68</td>
                    <td></td>
                    <td>145.68</td>
                    <td>291.36</td>
                </tr>
            </tbody>
        </table>
 
        <table class="borders" style="border-top: none;">
            <tr><td> <strong>Tax Amount (in words)</strong></td>
                <td>: INR Two Hundred Ninety One and Thirty Six paise Only</td>
            </tr>
        </table>

        <div class="d-flex justify-content-between borders " style="border-top: none;" >
            <div>
                <p class="bold">Declaration</p>
                <p class="small">
                    1 - GOODS ONCE SOLD CANNOT BE TAKEN BACK OR EXCHANGED<br>
                    2 - WE DECLARE THAT THIS INVOICE SHOWS THE ACTUAL PRICE OF THE GOODS DESCRIBED AND THAT ALL
                    PARTICULARS ARE
                    TRUE AND CORRECT.
                </p>
            </div>
            <div class="signature" style="position: relative; padding-top: 50px;">
                for <strong style="position: relative; display: inline-block;">
                  HINDUSTAN HARDWARE AND PLYWOODS
                  <img src="assets/image/seal.png" 
                       alt="seal" 
                       style="position: absolute; top: -100px; right: 20px; height: 150px; width: 150px; opacity: 1;" />
                </strong>
                <br>
                Authorised Signatory
              </div>
              
        </div>

    </section>
</div>